* {
    font-family: 'Muli', sans-serif;
}

@media only screen and (min-width: 992px) {
    .invesible-top {
        top: 64px;
        /* top: 0px; */
        /* z-index: 0; */
    }
    #main {
        margin-left: 200px;
    }
}

#side-nav {
    width: 200px;
    font-size: 14px;
    box-shadow: none;
}

#side-nav li {
    width: 200px;
    font-size: 14px;
}

#side-nav a {
    transition: 0.2s;
}

#side-nav .material-icons {
    margin-right: 10px;
}

#side-nav .sidebar-hedder {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: .85rem;
    color: #969696;
}

#main {
    background-color: #F9F9F9;
    height: calc(100vh - 64px);
    /* font-size: 12px; */
}

.flex {
    display: flex;
}
.row{
    margin-bottom: 0px;
}

#strom-select .row {
    margin-bottom: 0px;
}

#strom-select .col {
    margin-bottom: 0px;
    margin-top: 10px;
}

#strom-select-submit {
    width: 100%;
    text-align: center;
}

#strom-map-card{
    padding: 0px;
}

#mapid {
    height: 500px;
}