body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;

}

* {
	margin: 0;
	padding: 0;
}

a {
	color: #000;
	text-decoration: underline;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	background-color: #000000;
}

table,
thead,
tbody,
tfoot,
tr,
td,
th {
	text-align: left;
	margin: auto;
	border: 1px solid #dedede;
	border-collapse: collapse;
	padding: 10px;
	width: 100%; //table-layout: fixed;
}

thead {
	border-bottom: 2px solid #d6d6d6;
}

th,
td {
	margin: auto;
}

.card {
	box-sizing: border-box;
	background-color: #fff;
	box-shadow: 0 2px 10px rgba(50, 50, 93, .1), 0 2px 5px rgba(0, 0, 0, .07);
	padding: 20px;
	transition: all 0.1s ease;
}

.main-padding {
	box-sizing: border-box;
	height: 100%;
	padding: 20px;
}

.main-container {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
}

#left-col {
	grid-column: 1/3;
	grid-row: 1/5;
}

#map-wrapper {
	grid-column: 3/5;
	grid-row: 1/5;
}

#map {

	height: 100%;
}
